.documentDiv {
  display: block;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 10px;
  height: 70px;
  background: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.2;
  overflow: hidden;
}
.documentDiv:hover {
  background: #f5f5f5;
}
